.card {
    margin-bottom: 15px;
}

.card-title {
    margin-bottom: 15px;
}

.remaining {
    position: absolute;
    right: 15px;
    top: 15px;
}


.card-img-top {
    width: 50%;
    display: block;
    margin: auto;
}

.gradient-card {
    background-color: rgba(255, 255, 255, 0.534);
}

#search {
    background-color: rgb(62, 70, 104);
}

#doc {
    background-color: rgb(62, 70, 104);
    float: right;
}

p {
    text-align: justify;
}

tr {
    text-align: center;
}

h3 {
    font-weight: 500;
}

.text-muted {
    font-size: large;
}

.submit {
    float: right;
}

.container {
    background: cadetblue;
    padding: 20px 20px 0 20px;
}


.to-guess {
    border: 3px solid crimson;
    background: #ac6161;

    text-align: center;
    letter-spacing: 8px;
    font-size: 5vw;
    text-align-last: center;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.win-lose {
    display: block;
    margin: 20px auto 20px auto;
    width: 40%;
}

/* STYLE */
.circle-sketch-highlight{
    position:relative;
}
.circle-sketch-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:-0.1em;
    border-width:2px;
    border-style:solid;
    border-color:red;
    position:absolute;
    border-right-color:transparent;
    width:110%;
    height:1em;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
    padding:0.1em 0.25em;
}
.circle-sketch-highlight:after{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:2px;
    border-style:solid;
    border-color:red;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1em;
    transform:rotate(-1deg);
    opacity:0.7;
    border-radius:50%;
}